Builds/
obj/
.vscode
Temp
Library
*~
*.tmproj
Unity/iOS
Unity/obj
generated
.DS_Store
*.pidb*
*.csproj*
*.sln*
*.apk
*.orig*
*.userprefs
*.ipa
vcomp120.dll
SuperwhyCorona
Unity/Assets/Lib/spine-unity/Examples
.reuniter_data
ReUniter.meta
Unity/Assets/Lib/ConsolePro
Unity/Assets/Lib/ReUniter
Examples.meta
